body{
	background:url(../img/bgimg.png);
	position: relative;
}
/*----------------------header---------------*/
	header{
		width: 100%;
		height: 0.8rem;background-color: #e2bc69;
		line-height: 0.8rem;
		text-align: center;
		border-bottom: 1px solid #f00;
		font-size: .2rem;
		overflow: hidden;
		background: url(../img/top_bg.png);
		}
	header .top_btn{float: left;margin:.1rem; }
	header .top_btn img{width: .36rem; }
	header .logo_btn{margin-right:.3rem;margin-top:.05rem;}
	header .logo_btn img{width: .66rem;}
/*----------------------------------banner---------------------------*/
	.swipe{
		height: 3rem;
		width: 100%;
		position: relative;
		  overflow: hidden;
		  visibility: hidden;
		  position: relative;
	}
	.swipe ul {
	  position: absolute;
	  bottom: .1rem;
	  right: 0.2rem;
	}
	.swipe ul li {
	  display: inline-block;
	  line-height: 30px;
	  text-align: center;
	  width: 30px;
	  height: 30px;
	  background-color: red;
	  border-radius: 15px;
	}
	.swipe-wrap {
	  overflow: hidden;
	  position: relative;
	}
	.swipe-wrap > div {
	  float: left;
	  width: 100%;
	  position: relative;
	}
	.swipe-wrap img {
	  width: 100%;
	}
/*---------------------------------------ads------------------------*/
	.ads{
		width: 100%;
	}
	.ads img{width: 100%;}
/*-----------------------item---------------*/
	.itemlist{
		padding: .3rem 0;
		height: .82rem;
		position: relative;
	}
	.itemlist:before{
		content:'';
		width: .54rem;
		height: 0.02rem;
		position: absolute;
		top:50%;
		left: 0;
		background-color:#7F5F56;
		z-index: 10;
	}
	.itemlist:after{
		content:'';
		width: .54rem;
		height: 0.02rem;
		position: absolute;
		top:50%;
		right: 0;
		background-color:#7F5F56;
		z-index: 10;
	}
	.itemlist ul{
		width: 5.27rem;
		margin:0 auto;
		position: relative;
		overflow: hidden;
	}
	.itemlist li{float: left;width:20%; position: relative;text-align: center;}
	.itemlist li:not(:last-of-type):after{
		content: "";
		display: inline-block;
		width: .05rem;
		height: .05rem;
		background-color: #7F5F56;
		border-radius: 50%;
		position: absolute;
		right:-0.02rem;
		top: 50%;
	}
	.itemlist ul img{
		width: 80%;
	}

/*-------------------------------------main-------------------------*/
	.mainwrap{
	}
	.main{
		width: 5.27rem;
		height:auto;
		margin:0 auto;
		overflow: hidden;
	}
	.main .logo_b{margin-bottom: 4px;}
	.main .logo_b img{width: 100%;clear: both;}
	.main .classic{
		overflow: hidden;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
	.main .classic li{}
	.main .classic li img{
		width: 100%;
	}

	.main .public{margin-top:25px;}
	.main .public .title{background-color: transparent;border-bottom: 0 none;}
	.main .public .title img{
		width: 1.89rem;
	}
	.main .public .title .fr{margin-top:0.27rem;
		width: .91rem;
		height: .19rem;
		background-color: #765654;
	}

	.main .public .main{
		font-size: .18rem;
		font-family:'微软雅黑';
		color:#765654;
		margin-bottom: .31rem;
	}
	.main .public .main li{
		margin-left: .27rem;
		padding-left: .2rem;
		border-bottom: 1px dashed #765654;
		line-height: .35rem;
		background:url(../img/index_1.png) no-repeat 0 .1rem;
		background-size: .16rem;
	}
	.main .public .main .times{
		float: right;
	}
	.last{
		border:0 none;
	}
/*----------------footer------------------------*/
	footer{
		background-color:#C49057;
		height: .84rem;
		  display: flex;
		  justify-content: space-around;
		  position: fixed;
		  left: 0;
		  bottom: 0;
		  width: 100%;
	}
	footer a {
		padding-top: .1rem;
	  	display: flex;
	  	flex-direction: column;
	   	align-items:center; 
	  	color: #808080;
		font-size: .2rem;
		color:#C49057;
	}
	footer a.on{
		color:#FCD275;
	}
	footer a img {
		width: .34rem;
	}
	section.footer{
		height: .84rem;
		background-color: #FCD275;
		border: 0 none;	
	}
/*----------------sidebar----------*/
	.sidebar{
		position:absolute;
		position:fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 999;
		display: none;
		overflow: hidden;

	}
	.sidebar .left{
		padding-top: .8rem;
		box-sizing:border-box;
		width: 2.3rem;
		height: 100%;
		float: left;
		position: relative;
		background-color: #B50005;
	}
	.sidebar .right{
		background-color: rgba(0,0,0,0.3);
		height: 100%;
		width:100%;
	}
	.sidebar.on{
		display: -webkit-flex;
		display: flex;
	}
	.sidebar{
		text-align: center;
	}
	.sidebar .item h2 img{
		width: 2rem;
	}
	.sidebar .item ul{
		margin:0 auto;
		display: none;
		width: 1.97rem;
		padding:.33rem 0;
		border-radius: .1rem;
		background-color: #FCD275;
	}
	.sidebar .item ul li{
		height: .6rem;
		line-height: .6rem;
	}
	.sidebar .item ul li.on{
		background-color:#B50005;
	}
	.sidebar .item ul a{
		font-size: .2rem;

	}
	.sidebar .item ul li.on a{
		color: #FCD275;
		font-weight: bold;
	}
	.sidebar .item.on ul{
		display:block;

	}
	.sidebar .item  ul img{
		width: 100%;
	}
	.sidebar .bottom{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
	.sidebar .bottom img{
		width: 100%;
	}


/*------------brand----------------------*/
	.brand{
		width: 5.7rem;
		margin:0 auto;
		margin-bottom: 0.23rem;
	}
	.brand .item{
		padding: 0.07rem 0;
		overflow: hidden;
	}
	.brand .item h2,.brand .item ul{
		float: left;
	}
	.brand .item h2{
		width: 1rem;
	}
	.brand .item h2 img{
		width: 0.72rem;
	}
	.brand .item ul{
		margin-top: .42rem;
		width: 4.7rem;
		font-size: 0.22rem;
		padding-bottom: 0.16rem;
		border-bottom: 0.02rem solid #C30D23;
		font-style: ;
		display: -webkit-flex;
		display: flex;
		justify-content: space-between;
		font-family: 'STXingkai';
	}
	.brand .item ul li{
		padding:0.05rem;
	}
	.brand .item ul li.on{
		background-color: #C30D23;
		color:#FCD275;
		position: relative;
	}
	.brand .item ul li.on:after{
		content:'';
		width: 0.05rem;
		height: 0.05rem;
		border: 0.02rem  solid #C30D23;
		transform: rotate(45deg);
		position: absolute;
		background-color: #FCD275;
		left: 50%;
		bottom:-0.2rem;
		border-right: 0 none;
		border-bottom: 0 none;

	}
	.brand .detail{
		display:none;
		background:url(../img/brand_detail.png) no-repeat right top;
		-webkit-background-size: 1.43rem;
		background-size:1.43rem;
		margin-bottom: 0.84rem;
	}
	.brand .detail.on{
		display: block;
	}
	.brand .detail_item{
		padding: 0.15rem 0;
	}
	.brand .detail_item h3{
		text-align: center;
		position: relative;
	}
	.brand .detail_item h3 img{
		width: .81rem;
	}
	.brand .detail_item ul{
		font-size: .2rem;
		line-height: 0.33rem;	
	}
	.brand .detail_item ul li{
		display: flex;
	}
	.brand .detail_item ul .v_line{
		padding:0 0.2rem;
	}
	.brand .detail_item ul .red{
		color:#B50005;
		white-space: nowrap;
	}
	.brand .detail h2{
		font-size: 0.24rem;
		line-height: 0.35rem;
		color:#B50005;
		font-weight: bold;
	    font-family: 'STXingkai';
		padding-bottom: 0.15rem;
		border-bottom: 1px solid #B50005;
	}
	.brand .detail h2 .title{
		color:#8C6B59;
	}
	.brand article{
		padding-top: 0.3rem;
	}
	.brand article p{
		font-size: 0.18rem;
		text-indent:0.36rem;
		line-height: 0.33rem;
		text-align: justify;
	}
	.brand div.img{
		padding: 0.52rem 0 0.3rem 0;
	}
	.brand .adv .adv_item{
		display: -webkit-flex;
		display: flex;
		margin-top: 0.4rem;
	}
	.brand .adv .adv_item h3{
		font-size:0.2rem ;
		line-height: 0.3rem;
		color:#765654;
		font-weight: bold;
		margin-bottom: 0.1rem;
	}
	.brand .adv .adv_item .txt{
		width: 2.95rem;
		line-height: 0.3rem;
	}
	.brand .adv .adv_item div.img{
		width: 2.47rem;
		padding: 0;
	}
	.brand .adv .adv_item div.img img{
		width: 100%;
	}

/*-------------icn----------------*/
	.icn .detail h2{
		color:#765654;
	}
	.icn .detail article h3{
		margin-bottom: 0.2rem;
		font-weight: bold;
		font-size: 0.18rem;
		color:#765654;
	}
	.icn .detail article>div{
		margin-bottom: 0.4rem;
	}
	.icn .detail article .item{
		display: -webkit-flex;
		display: flex;
		justify-content:space-between;
	}
	.icn .detail article .item .txt{
		width: 3.03rem;
	}
	.icn .detail article .item .img{
		width: 2.12rem;
		padding: 0;
	}
	.icn .detail article .item .img img{
		width: 100%;
	}
	.icn .detail .yunbg{
		height: 0.46rem;
		background:url(../img/yun_bg.png) no-repeat right top;
		-webkit-background-size: 1.8rem;
		background-size: 1.8rem;
		margin: 0;
	}

/*-------------icn---culture----*/
	.icn .culture{
		padding-top: 0.46rem;
	}
	.icn .culture img{
		width: 100%;
	}
	.icn .culture .top,.icn .culture .buttom{
		display: -webkit-flex;
		display: flex;
		justify-content: space-between;
	}
	.icn .culture .top .left{
		width: 1.64rem;
	}
	.icn .culture .right-item{
		display: -webkit-flex;
		display: flex;
		margin-bottom:0.33rem;
	}
	.icn .culture .right-item .txt{
		margin:0 0.22rem;
	}
	.icn .culture .right-item .txt{
		width: 2.75rem;
		line-height: 0.3rem;
		font-size: 0.18rem;
	}
	.icn .culture .top .txt p,.icn .culture .buttom .txt p{
		white-space: nowrap;
	}
	.icn .culture .top .right .right-item .txt{
		width: 2.75rem;
		line-height: 0.3rem;
	}
	.icn .culture .right-item .txt h3{
		font-size: .24rem;
		font-family: 'STXingkai';
		font-weight: bold;
	}
	.icn .culture .right-item .img{
		width: 0.95rem;
		padding: 0;
		text-align: center;
	}
	.icn .culture .right-item .img img{
		width: 100%;
	}
	.icn .culture .middle .right-item {
		width: 100%;
		 background: url(../img/yun_bg.png) no-repeat right top;
    -webkit-background-size: 1.8rem;
    background-size: 1.8rem;
	}
	.icn .culture .middle .right-item .txt{
		width: 4.38rem;

	}
	.icn .culture .buttom .left{
		width: 4.16rem;
	}
	.icn .culture .buttom .left .txt{
		width: 2.67rem;
	}
	.icn .culture .buttom .right{
		width: 1.64rem;
	}
/*--------------icn---right-------*/
	.rights{
		padding-top: 0.3rem;
	}
	.rights .item{
		display: -webkit-flex;
		display: flex;
		justify-content:space-around;
		margin-bottom:0.2rem;
	}
	.rights .item img{
		width: 2.36rem;
		height:1.61rem;

	}

/*------------------icn ---focus----*/
	.focus{
		padding-top: 0.3rem;
	}
	.focus .item{
		border-top: 1px  solid red;
		padding:0.32rem 0;
		display: -webkit-flex;
		display: flex;
		justify-content:space-between;
	}
	.focus .item div.img{
		width: 1.86rem;
		padding: 0;
	}
	.focus .item .img img{
		width: 100%;
	}
	.focus .item .img p{
		text-align: center;
		font-size: 0.24rem;
		color:#C44728;
	}
	.focus .item .text{
		width: 3.15rem;
		font-size: .18rem;
		text-align: justify;
	}

/*-----------------project----------*/
	.project .detail{
		background:none;
	}
	.project  .select{
		margin-left: 1rem;
		display: -webkit-flex;
		display: flex;
		justify-content:space-between;
	}
	.project .live .select li{
		width: 1.06rem;
	}
	.project .select li img:first-of-type{
		width: 100%;
		display: inline-block;
	}
	.project .select li img:last-of-type{
		width: 100%;
		display: none;
	}
	.project .select li.on img:first-of-type{
		width: 100%;
		display: none;
	}
	.project .select li.on img:last-of-type{
		width: 100%;
		display: inline-block;
	}
	.project .detail .item {
		padding-top: 0.46rem;    
		background: url(../img/brand_detail.png) no-repeat right 0.1rem;
    -webkit-background-size: 1.43rem;
    background-size: 1.43rem;
    display: none;
	}
	.project .detail .item.on {
		display: block;
	}
	.project .detail .item  .img {
		padding: 0;
	}
	.project .detail .item  .img img{
		width: 100%;
	}
	.project .detail .item .text_img{
		display: -webkit-flex;
		display: flex;
		justify-content:space-between;
	}
	.project .detail .item h3{
		font-size: 0.2rem;
		font-weight: bold;
		color:#C30D23;
		line-height: 0.57rem;
	}
	.project .detail .item p{
		line-height: 0.3rem;
		font-size: 0.18rem;
	}
	.project .detail .item .text{
		width: 1.91rem;
	}
	.project .detail .item .text p{
		white-space: nowrap;
	}
	.project .detail .item .small_img{
		width: 3.12rem;
	}
	.project .aijiu .select{
		display: block;
		overflow: hidden;
	}
	.project .aijiu  .select li{
		float: left;
		width: 1.25rem;
		margin-right: 0.4rem;
		margin-bottom: 0.1rem;
	}
	.project .aijiu  .select li:nth-of-type(3n){
		margin-right: 0rem;
	}
	.project  .item table{
		margin-top: 0.3rem;
		width: 100%;
		line-height: 0.3rem;
	}
	.project  .item tr{
		border: 1px solid #765755;
	}
	.project  .item tr th,.project .item tr td{
		padding-left: 0.1rem;
	}
	.project .item tr td{
		height: 2rem;
		vertical-align: top;
	}
	.project .birth .select{
		display: block;
		overflow: hidden;
	}
	.project .birth .select li{
		float: left;
		margin-right: 0.4rem;
		margin-bottom: 0.1rem;
	}
	.project .birth .select li:nth-of-type(-n+3){
		width: 1.09rem;
	}
	.project .birth .select li:nth-of-type(4){
		width: 1.28rem;
	}
	.project .birth .select li:nth-of-type(5){
		width: 1.56rem;
	}
	.project .birth .select li img{
		width: 100%;
	}
	.project .science .select li{
		width: 1.46rem;
	}
	.project .science .science_text span {
		color:#C30D23;
	}

/*-----------------figure--------形象----*/
	.figure .item #brand_list{
		justify-content:space-around;
		font-size: 0.2rem;
	}
	.figure .item ul li{
		padding: 0.05rem 0.15rem;
	}
	.figure .item ul li:first-of-type{
		font-family:'微软雅黑';
	}
	.figure .detail{
		padding-top: 0.86rem;
	}
	.figure .detail .big_img{
		width: 100%;
		border: 2px solid #B10508;
		height: 3.57rem;
		margin-bottom: 0.24rem;
	}
	.figure .detail .big_img li{
		width: 100%;
		height: 100%;
		display: none;
	}
	.figure .detail .big_img li img{
		width: 100%;
		height: 100%;
	}
	.figure .detail .big_img li.on{
		display: block;
	}
	.figure .detail .small_img{
		width: 100%;
		position: relative;
		height: 1.05rem;
	}
	.figure .detail .small_img .btn{
		position: absolute;
		top: 50%;
		left: 0.14rem;
		display: block;
		width: 0.2rem;
		height: 0.3rem;
		background-color: #B10508;
		transform:translateY(-50%);
		background:url(../img/btn.png) no-repeat -0.1rem -0.5rem;
		-webkit-background-size: 0.4rem 0.92rem;
		background-size: 0.4rem 0.92rem;
	}
	.figure .detail .small_img .next{
		right:0.14rem;
		left: auto;
		background-position: -0.1rem -0.1rem;
	}
	.figure .detail .small_img .img{
		width: 4.91rem;
		height: 100%;
		margin:0 auto;
		display: -webkit-flex;
		display: flex;
		justify-content:space-between;
	}
	
	.figure .detail .small_img .img li{
		border: 1px solid #B10508;
		width: 1.60rem;
		height: 100%;
	}
	.figure .detail .small_img .img li.on{
		display: none;
	}
	.figure .detail .small_img .img li img{
		width: 100%;
		height: 100%;
	}

/*----------------partner----------*/
	.partner .detail{
		padding-top: 0.16rem;
	}
	.partner .provide h2 span{
		color:#765654;
	}
	.partner .provide h2 sup{
		font-size: 0.12rem;
		font-family: '微软雅黑';
	}

	.partner .provide .ads{
		display: -webkit-flex;
		display: flex;
		justify-content:space-between;
		margin-bottom: 0.3rem;
	}
	.partner .provide .ads>div{
		width: 2.65rem;
	}
	.partner .provide .ads>div img{
		width: 100%	;
	}
	.partner .provide .ads>div p{
		padding-top: 0.2rem;
		text-align: center;
		color:#C95731;
		font-size: 0.18rem;
		line-height: 0.32rem;
	}
	.partner .coop .item{
		display: -webkit-flex;
		display: flex;
		margin-bottom: 0.3rem;
	}
	.partner .coop .item .img{
		width: .72rem;
		padding: 0;
	}
	.partner .coop .item .img img{
		width: 100%;
	}
	.partner .coop .item .list{
		border: 0;
		display: block;
		font-family:'微软雅黑';
		font-size: 0.18rem;
		color:#926134;
		margin-left: 0.2rem;
		margin-top: 0.1rem;
		border-left: 0.02rem solid #B50005;
		padding-left: 0.2rem;
		height: auto;
	}
	.partner .coop .item .list li{
		position: relative;
		padding-left: 0.2rem;
	}
	.partner .coop .item .list li:before{
		content:'';
		width: 0.08rem;
		height:0.12rem;
		position: absolute;
		left: 0.03rem;
		top: 0.1rem;
		border: 2px solid #926134;
		
	}
	.partner .help h3{
		font-size: 0.22rem;
		color:#B50005;
		font-weight: bold;
		line-height: 0.6rem;
	}
	.partner .help p{
		font-size: 0.18rem;
		color:#765654;
		line-height: 0.3rem;
	}
	.partner .learn .ads{
		margin-bottom: 0.3rem;
	}
	.partner .learn article ul{
		color:#C95731;
	}
	.partner .learn article ul li{
		padding-left: 0.2rem;
		position: relative;
		line-height: 0.3rem;
		font-size: 0.18rem;
	}
	.partner .learn article ul li:before{
		content:'';
		position: absolute;
		display: block;
		width: 0.04rem;
		height: 0.04rem;
		border-radius: 50%;
		background-color: #C95731;
		left: 0.1rem;
		top: 0.15rem;
	}