._3{ background:url("3.png") top left no-repeat; }
._3_r4_c2{ width:85px; height:85px; background-position:-10px -10px; }
._3_r6_c2{ width:85px; height:85px; background-position:-10px -105px; }
._3_r2_c2{ width:85px; height:85px; background-position:-10px -200px; }

