._8{ background:url("8.png") top left no-repeat; }
._8_r12_c2{ width:105px; height:110px; background-position:-10px -10px; }
._8_r10_c2{ width:105px; height:110px; background-position:-10px -130px; }
._8_r8_c2{ width:105px; height:110px; background-position:-10px -250px; }
._8_r6_c4{ width:105px; height:110px; background-position:-10px -370px; }
._8_r4_c4{ width:105px; height:110px; background-position:-10px -490px; }
._8_r2_c4{ width:105px; height:110px; background-position:-10px -610px; }

